 <h2 style="display: flex; justify-content: center;">CLOCK APP</h2>
 <button class="btn btn-light" style="transform: skew(-10deg);margin-left:-5px;padding:10px" routerLink="/home">home</button>
<router-outlet></router-outlet>
<footer class="footer">
     <div class="cards">
         <p>developed by deepak belamana with &hearts; </p>
     </div>
     <div class="cards">
         <a href="https://github.com/deepakbelamana?tab=repositories" ><i class="fa fa-github" style="font-size:36px"></i></a>
         <a href="https://twitter.com/saideepak627" ><i class="fa fa-twitter" style="font-size:36px"></i></a>
     </div>
</footer>