<h1 style="display: flex; justify-content: center;color: white;">{{time}}</h1>
<div class="container" style="margin-top: 50px;" >
 <div class="row">
     <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              World Clock
            </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <select class="form-select form-select-sm" [(ngModel)]="selected_location" aria-label="Default select example">
    <option selected>select the location</option>
    <option *ngFor="let loc of location">{{loc}}</option>
    </select></li>
    <li class="list-group-item"><button class="btn btn-secondary" (click)="timezone()" >select</button></li> 
    <li class="list-group-item"><h2>{{selected_location}}</h2></li>
    <li class="list-group-item"><h4>{{timeat_location}}</h4></li>
   </ul>       
        </div>
     </div>
<div class="col">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
           stop watch
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h1>{{stopwatch_hrs}}:{{stopwatch_min}}:{{stopwatch_sec}}</h1></li>
            <li class="list-group-item"><button class="btn btn-secondary" (click)="start_stopwatch()" [disabled]="isdisabled">start</button></li>
            <li class="list-group-item"><button class="btn btn-secondary" (click)="stop_stopwatch()" [disabled]="is_stop_disabled" style="margin:5px;">stop</button><button class="btn btn-secondary"(click)="resume_stopwatch()" [disabled]="is_resume_disabled" style="margin:5px;" >resume</button></li>
            <li class="list-group-item"><button class="btn btn-secondary" (click)="reset_stopwatch()" [disabled]="is_reset_disabled">reset</button></li>
        </ul>

    </div>
</div>
<div class="col">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
           Timer
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label> select the timer</label>    
            </li>
            <li class="list-group-item"><input class="form-control" type="number" placeholder="enter time in minutes" [disabled]="create_timer_textbox" [(ngModel)]="timer" min='1' onkeyup="if( this.value <1 ) this.value = null;"/></li>
            <li class="list-group-item"><button class="btn btn-secondary" (click)="create_timer()" [disabled]="!timer || create_timer_isdisabled">create Timer</button></li>
            <li class="list-group-item"><h1>{{timer}}:{{timer_seconds}}</h1></li>
        </ul>

    </div>
</div>
<div class="col">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
           Reminders
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><input class="form-control" type="number" [(ngModel)]="reminder_hrs" min="0" max="23" placeholder="enter hours" onkeyup="if(this.value > 23 || this.value <0 ) this.value = null;"/></li>
            <li class="list-group-item"><input class="form-control" type="number" [(ngModel)]="reminder_min" min="0" max="59" placeholder="enter minutes" onkeyup="if(this.value > 59 || this.value <0) this.value = null;"/></li>
            <li class="list-group-item"><input class="form-control" type="text" [(ngModel)]="reminder_msg" placeholder="Remind about"/></li> 
            <li class="list-group-item"><button class="btn btn-secondary" (click)="create_reminder()" [disabled]="((!reminder_hrs && !reminder_min) || create_reminder_isdisabled ) ">create Reminder</button></li>
        </ul>

    </div>
</div>
</div>
</div>
